$white: #fff;
$dark-grey: #333;
$light-grey: #f5f3f0;
$red-dark: #ff0000;
$orange-dark: #FF5710;
$green-dark: #47D32D;
$yellow-star: #FFC641;
$blue-dark: #15CDFF;
$montserrat-font: "Montserrat", Arial, sans-serif;
$meirienda-font: 'Merienda One', "Sriracha", Arial, sans-serif;
$break-point: 825px;