* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  /*overflow-y: hidden;*/
  /*max-width: 1280px;*/
  /*width: 100%;*/
  /*margin: 0 auto;*/
  background-color: lightgray;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
}
