* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
  background-color: transparent;
}

label, img {
  user-select: none;
}

body {
  overflow-y: hidden;
  /*max-width: 1280px;*/
  /*width: 100%;*/
  /*margin: 0 auto;*/
  background-color: #F5F3F0;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
}

@media screen and (min-width: 720px) {
  .content {
    display: grid;
    grid-template-columns: 240px 1fr;
  }
}