@import "../../commonStyles/variables";

.btn-input {
  border-radius: 50px;
  width: 35px;
  height: 20px;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: $break-point){
  .btn-input {
    width: 58px;
    height: 34px;
  }
}
