@import '../../commonStyles/variables.scss';

.registration {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__form {
        max-width: 400px;
        margin-top: 32px;
        padding: 16px 8px;
        border-radius: 25px;
        background-color: $light-grey;
    }

    &__btns {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__back {
        & div {
					order: -1;
            background: transparent url('../../assets/arrow_circle_l.svg') center center no-repeat;
        }
    }

		&__submit {
			color: $green-dark;
			& div {
				background: transparent url('../../assets/enter.svg') center center no-repeat;
			}
		}
}