@import "../../commonStyles/variables";

.header {
  background: white center center no-repeat;
  background-size: cover;
  border-radius: 25px;
  margin: 8px 0 8px 8px;
  width: 256px;
  position: fixed;
  padding: 8px 8px;
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  //justify-content: space-between;
  left: 0;
  top: 0;

  &_orange {
    background-image:  url("../../assets/header_bg_orange.svg");
  }

  &_blue {
    background-image:  url("../../assets/header_bg_blue.svg");
  }

  &_green {
    background-image:  url("../../assets/header_bg_green.svg");
  }

  &__menu {
    margin-top: 8px;
    margin-bottom: auto;
    & > svg {
      margin-bottom: 16px;
    }
    padding: 0 26px;
  }
}

@media screen and (min-width: 720px) {
  .header {
    &__menu {
      margin-top: 32px;
    }
  }
}
