@import '../../commonStyles/variables.scss';

.recipe-page {
  height: 100vh;
  overflow-y: hidden;
  font-family: $montserrat-font;

  &__cat, &__grid, &__filter, &__back {
    display: none;
  }

  &__img-container {
    position: relative;
  }

  &__rate {
    width: max-content;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;

    &_text {
      font-family: $meirienda-font;
      font-size: 16px;
      line-height: 24px;
      font-weight: normal;
      text-align: center;
    }

    &_stars {
      display: flex;
      gap: 8px;
    }
  }

  &__card {
    position: relative;
    margin: 8px;
    padding: 16px;
    border-radius: 25px;
    background-color: $white;
    display: block;
    overflow-y: scroll;
    height: calc(100% - 64px);

    &_under {
      z-index: 0;
    background-color: $light-grey;
    border-radius: 25px;
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    }
  }

  &__logo {
    width: 185px;
    display: flex;
    height: 48px;
    align-items: center;
  }

  &__header {
    position: relative;
  }

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 25px;
  };

  &__like {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__title {
  font-family: $meirienda-font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: $dark-grey;
  }

  &__tags {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 2px;
    &_img {
      width: 20px;
      height: 20px;
    }

    &_text {
      font-family: $montserrat-font;
      font-size: .6rem;
      font-weight: 400;
      line-height: 15px;
      text-align: left;
      color: $dark-grey;
    }
  }

  &__dd {
    display: flex;
    align-items: center;
    gap: 8px;
    user-select: none;
    /*font*/
    font-family: $montserrat-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: $dark-grey;

    transition: opacity .3s ease-in-out;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      background: transparent url('../../assets/arrow_s.svg') center center no-repeat;
      background-size: 8px 8px;

      transition: transform .34s ease-in-out;
    }

    &_open {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    max-height: 0px;
    opacity: 0;
    overflow-y: hidden;
    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);

    transition: max-height .3s ease-in-out, opacity .3s ease-in-out;

    /*font*/
    font-family: $dark-grey;
    font-size: .25rem;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
  }

  &__dd_open + &__list {
    max-height: 250px;
    opacity: 1;
  }

  &__list_item {
    white-space: nowrap;
    width: 100%;
    padding-left: 12px;
    background: transparent url('../../assets/dot.svg') 5px center no-repeat;
    font-size: .5rem;
    display: flex;
    align-items: center;

    & span {
      display: block;
    }
    & span:first-child {
      width: min-content;
      overflow: hidden;
    }
  }

  &__recipe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-family: $montserrat-font;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.3rem;
    text-align: left;

    & p:first-child:first-letter {
      font-family: $meirienda-font;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5rem;
      text-align: left;
    }

    & p {
      &::first-letter {
        padding-left: .7rem;
      }
    }
  }
};

@media screen and (min-width: $break-point) {
  .recipe-page {
    margin-right: 16px;
    display: grid;
    grid-template-columns: 115px 1fr 320px 225px;
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
    "fil fil fil fil"
    "cat crd crd grd";

    &__cat, &__grid, &__filter {
      width: 100%;
      display: block;
    }

    &__cat {
      display: flex;
      justify-content: start;
      grid-area: cat;
    }

    &__grid {
      grid-area: grd;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &__filter {
      grid-area: fil;
    }

    &__card {
      grid-area: crd;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    
    &__logo {
      display: none;
    }

    &__card {
      position: relative;
      margin-top: 0;
      margin-right: 0;
      height: calc(100%);
      overflow-y: hidden;
      display: flex;
      flex-direction: column;

      &_under {
      display: block;
      }
    }

    &__ings {
      grid-area: ing;
    }

    &__img-container {
      grid-area: img;
      margin-right: 8px;
      max-width: 300px;
    }

    &__back {
      display: block;
      position: absolute;
      top: 8px;
      right: -15px;
      z-index: 3;

      width: 74px;
      height: 40px;
      border-radius: 25px;
    }

    &__tags {
      grid-area: tag;
    }

    &__title {
      grid-area: ttl;

      /*font*/
      font-size: 32px;
      font-weight: 400;
      line-height: 48px;
      text-align: center;

    }

    &__main {
      margin-top: 10px;
      height: 100%;
      overflow-y: auto;
      z-index: 2;
    }

    &__dd {
      font-size: .85rem;
    }

    &__list {
      &_item {
        font-size: .6rem;
      }
      
    }

    &__header {
      display: grid;
      align-items: start;
      grid-template-rows: min-content min-content 1fr;
      grid-template-columns: minmax(1px, 300px) 1fr;
      grid-template-areas: 
      'img ttl'
      'img tag'
      'img ing';
    }
  }
}